.sidebar#sidebar
    .card
        a(href="/dashboard")
            .acount-link
                .picture-pad
                    i.fa.fa-user.acount-icon
                h1.card-uname= user.uname
                h1.card-phone= user.phone
        .link-border
        a.card-link(href="/user/logout")
            i.fa.fa-book.card-icon
            | کلاس های من
        .link-border
        a.card-link.logoutbtn(href="/users/logout")
            i.fa.fa-sign-out.card-icon
            | خروج از حساب کاربری
    .acount
        h1.acount-header حساب کاربری
        a.acount-link(href="/dashboard")
            i.fa.fa-user.link-icon
            | پروفایل من
        .link-border
        -if(user.role == 'student'){
            a.acount-link#sign-in-sidebar(href="#")
                i.fa.fa-plus.link-icon
                | ثبت نام
        -}
        -else if(user.role == 'admin'){
            a.acount-link(href="/dashboard/classes")
                i.fa.fa-book.link-icon
                | لیست کلاس ها
        -}
        .link-border
        a.acount-link(href="/payments")
            i.fa.fa-credit-card.link-icon
            | صورت حساب ها
            -if(active.payment)
                .active
        .link-border
        a.acount-link(href="/dashboard/plan")
            i.fa.fa-sticky-note.link-icon
            | برنامه هفتگی
        .link-border
        a.acount-link(href="#")
            i.fa.fa-bell.link-icon
            | گزارش ها
            -if(active.reports)
                .active
        .link-border
        a.acount-link(href="#")
            i.fa.fa-comments.link-icon
            | نظرات و پیشنهادات
            -if(active.comments)
                .active
        .link-border
        
.slide-modal#slide-modal
.slide-toggle#slide-toggle
    button.slide-toggler#slide-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        i.fa.fa-list-ul