.sign-in-modal#sign-in-modal
    .sign-in
        span.close#signinclose &times;
        form(action="/classes/register" method="POST")
            h1.modal-title ثبت نام کلاس
            label(for="fullname")
                b نام و نام خانوادگی:
            br
            input.input-text(type="text" placeholder="Full name" name="fullname" value="#{user.fullname}" required )
            br
            label(for="term")
                b ترم:
            br
            select.input-text(name="term")
                option(value="بهار") بهار
                option(value="تابستان") تابستان
                option(value="پاییز") پاییز
                option(value="زمستان") زمستان
            br
            label(for="className")
                b نام کلاس:
            br
            -var classNamesEn = ['scratch', 'c++', 'python', 'web', 'robotic', 'photoshop'];
            -var classNamesFa = ['برنامه نویسی مقدماتی Scratch', 'برنامه نویسی C++', 'برنامه نویسی python', 'برنامه نویسی web', 'رباتیک', 'طراحی گرافیک Photoshop'];
            select.input-text(name="className")
                -for(var i=0; i<classNamesEn.length; i++){
                    option(value='#{classNamesEn[i]}')= classNamesFa[i]
                -}
            br
            label(for="attend")
                b نوع حضور:
            br
            select.input-text(name="attend")
                option(value="real") حضوری
                option(value="virtual") مجازی
            br
            input.submit(type="submit" value="ثبت نام")
        .imgpad
            img(src="/images/walle.png")