extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/booklets.css')
    .booklet
        a.link.margin(href="/Ultrasonic.zip" download) دانلود فایل ها
        object.document(data="/Ultrasonic/Document-Ultrasonic.pdf" type="application/pdf")
    