extends layout

block content
    .about
        p 
            | گروه آکادمی رباتیک ایران با هدف پیشرفت و توسعه علم در کشور عزیزمان ایران در سال ۲۰۱۹ میلادی 
            | شروع به کار کرد و این هدف بزرگ خود را تا کنون ادامه داد. در این آکادمی دانش آموزان و دانشجویان 
            | به تحقیق و پژوهش در زمینه های مختلف تکنولوژی, رباتیک, الکترونیک, برنامه نویسی و کامپیوتر می پردازند 
            | تا با آمادگی هر چه تمام تر به جامعه خویش خدمت کنند. برترین اساتید کشور که فارق التحصیلان دانشگاه های 
            | بزرگ ایران هستند در اینجا به پژوهشگران جوان کمک میکنند تا به هدف خود برسند.
        img(src="/images/img-03.jpg", alt="img")
        br
        p
            | هر سال دانش آموزانی که در زمینه رباتیک پژوهش کردند در یک گردهمایی بزرگ جمع میشوند تا اطلاعات 
            | خود را با یکدیگر به اشتراک بگذارند. این گردهمایی بزرگ با عنوان مسابقات جونیروکاپ 
    script(src="/javascripts/about.js")