extends layout

block content
    link(rel='stylesheet', href='/stylesheets/classes.css')
    .class
        h1 کلاس های رباتیک
        p
            | در این کلاس دانش آموزان ابتدا با انواع ربات ها آشنا می شوند و اجزای مختلف ربات ها را می آموزند. پس از 
            | فراگیری مفاهیم مکانیک, سخت افزار و نرم افزار شروع به ساخت ربات های خود می کنند. در صورت تمایل پس از مرحله ساخت
            | ربات می توانند در مسابقات کشوری, بین المللی و جهانی شرکت کنند و تجربه های بسیاری کسب کنند. ثمره این کلاس ها
            | تنها ساخت ربات نیست بلکه دانش آموزان تا حدی مفاهیم الکترونیک, مکانیک و سخت افزار را فرا می گیرند که میتوانند
            | آینده درخشانی داشته باشند و از دانش خود در صنعت امروزی استفاده نمایند.
        img(src="/images/gallery/img-58.jpg", alt="img")
        a(href="/classes/robotic") ثبت نام

    .class
        h1 کلاس های برنامه نویسی
        p
            | در این کلاس دانش آموزان با مفاهیم اولیه الگوریتم ها و برنامه نویسی آشنا خواهند شد و در مراحل بعد 
            | طراحی نرم افزار های کاربردی قابل اجرا بر روی سیستم عامل های ویندوز را می آموزند. پس از گذراندن این دوره
            | وارد حرفه طراحی وب سایت خواهند شد و مهارت های ویژه ای از قبیل زبان های برنامه نویسی تحت وب را می آموزند.
        img(src="/images/tutorials/html.jpg", alt="img")
        a(href="/classes/computer") ثبت نام
    .class
        h1 کلاس های آموزش الکترونیک
        p
            | در این کلاس دانش آموزان ابتدا با مفاهیم پایه الکترونیک و مدار آشنا می شوند و در طراحی و ساخت 
            | مدارات الکترونیکی مهارت بسزایی کسب خواهند کرد. در این کلاس کار با نرم افزار های طراحی مدار مانند 
            | Altium Designer و Proteus آموزش داده خواهد شد.
        img(src="/images/gallery/img-19.png", alt="img")
        a(href="/classes/electronic") ثبت نام
    