extends layout

block content
    link(rel='stylesheet', href='/stylesheets/register.css')
    .register
        p
          i(class="fas fa-map-marker-alt")
          |  نشانی: تهران, ستارخان, خیابان شادمهر, خیابان نیک روش فرد, کلبه آفرینش فکر, پلاک ۱۵
          br
          i(class="fas fa-phone-volume")
          |  تلفن: 09223028958
        form(action="/login" id="register" method="POST")
            label(for="name")
                b نام:
            br
            input(type="text" placeholder="name" name="name" required)
            br
            label(for="email")
                b پست الکترونیکی:
            br
            input(type="email" placeholder="E-mail" name="email" required)
            br
            label(for="msg")
                b پیام:
            br
            textarea(name="text", cols="30", rows="10")
            br
            
            button(type="submit") ارسال
    script(src="/javascripts/contact.js")