extends layout

block content
    link(rel='stylesheet', href='/stylesheets/education.css')
    .mainbody
        .contentbar
            .information
                block info
            .photo
                block photo
            .video
                block video
            .links
                h2 دانلود فایل جلسات:
                block links
        .sidebar
            h1.sideheader آموزش های مجازی
            a.sidelink.active(id="link1" href="/education/arduino") بورد های آردوینو
            a.sidelink(id="link2" href="#") لینک
            a.sidelink(id="link3" href="#") لینک
            a.sidelink(id="link4" href="#") لینک
            
            
            
        