extends layout

block content
    link(rel='stylesheet', href='/stylesheets/gallery.css')
    script(src="/javascripts/gallery.js")
    .imgpad
        h1 پاییز ۹۸
        .galleryimg
            a(href="/images/gallery/img-34.jpg")
                img(src="/images/gallery/img-34.jpg", alt="img" width="600" height="400")
            .description کلاس آمادگی آزمون تیزهوشان
        .galleryimg
            a(href="/images/gallery/img-35.jpg")
                img(src="/images/gallery/img-35.jpg", alt="img" width="600" height="400")
            .description کلاس آمادگی آزمون تیزهوشان
        .galleryimg
            a(href="/images/gallery/img-36.jpg")
                img(src="/images/gallery/img-36.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-37.jpg")
                img(src="/images/gallery/img-37.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-38.jpg")
                img(src="/images/gallery/img-38.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-39.jpg")
                img(src="/images/gallery/img-39.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-40.jpg")
                img(src="/images/gallery/img-40.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-41.jpg")
                img(src="/images/gallery/img-41.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-42.jpg")
                img(src="/images/gallery/img-42.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-43.jpg")
                img(src="/images/gallery/img-43.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-44.jpg")
                img(src="/images/gallery/img-44.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-45.jpg")
                img(src="/images/gallery/img-45.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-46.jpg")
                img(src="/images/gallery/img-46.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-47.jpg")
                img(src="/images/gallery/img-47.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-48.jpg")
                img(src="/images/gallery/img-48.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-49.jpg")
                img(src="/images/gallery/img-49.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-50.jpg")
                img(src="/images/gallery/img-50.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-51.jpg")
                img(src="/images/gallery/img-51.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-52.jpg")
                img(src="/images/gallery/img-52.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-53.jpg")
                img(src="/images/gallery/img-53.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-54.jpg")
                img(src="/images/gallery/img-54.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-55.jpg")
                img(src="/images/gallery/img-55.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-56.jpg")
                img(src="/images/gallery/img-56.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-57.jpg")
                img(src="/images/gallery/img-57.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-58.jpg")
                img(src="/images/gallery/img-58.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-59.jpg")
                img(src="/images/gallery/img-59.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-60.jpg")
                img(src="/images/gallery/img-60.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-61.jpg")
                img(src="/images/gallery/img-61.jpg", alt="img" width="600" height="400")
            .description آماده سازی تیم های رباتیک
        .galleryimg
            a(href="/images/gallery/img-62.jpg")
                img(src="/images/gallery/img-62.jpg", alt="img" width="600" height="400")
            .description تولد همکار عزیز آقای یزدی
        
        h1 تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-23.jpg")
                img(src="/images/gallery/img-23.jpg", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر و پردازش تصویر
        .galleryimg
            a(href="/images/gallery/img-24.jpg")
                img(src="/images/gallery/img-24.jpg", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر و پردازش تصویر
        .galleryimg
            a(href="/images/gallery/img-25.jpg")
                img(src="/images/gallery/img-25.jpg", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر و پردازش تصویر
        .galleryimg
            a(href="/images/gallery/img-26.jpg")
                img(src="/images/gallery/img-26.jpg", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر و پردازش تصویر
        .galleryimg
            a(href="/images/gallery/img-27.jpg")
                img(src="/images/gallery/img-27.jpg", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر و پردازش تصویر
        .galleryimg
            a(href="/images/gallery/img-28.jpg")
                img(src="/images/gallery/img-28.jpg", alt="img" width="600" height="400")
            .description مراسم افتتاحیه آکادمی رباتیک
        .galleryimg
            a(href="/images/gallery/img-29.jpg")
                img(src="/images/gallery/img-29.jpg", alt="img" width="600" height="400")
            .description مراسم افتتاحیه آکادمی رباتیک
        .galleryimg
            a(href="/images/gallery/img-30.jpg")
                img(src="/images/gallery/img-30.jpg", alt="img" width="600" height="400")
            .description مراسم افتتاحیه آکادمی رباتیک
        .galleryimg
            a(href="/images/gallery/img-31.jpg")
                img(src="/images/gallery/img-31.jpg", alt="img" width="600" height="400")
            .description مراسم افتتاحیه آکادمی رباتیک
        .galleryimg
            a(href="/images/gallery/img-32.jpg")
                img(src="/images/gallery/img-32.jpg", alt="img" width="600" height="400")
            .description مراسم افتتاحیه آکادمی رباتیک
        .galleryimg
            a(href="/images/gallery/img-33.jpg")
                img(src="/images/gallery/img-33.jpg", alt="img" width="600" height="400")
            .description مسابقات ربوکاپ آسیایی مسکو
        
        .galleryimg
            a(href="/images/gallery/img-01.png")
                img(src="/images/gallery/img-01.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-02.png")
                img(src="/images/gallery/img-02.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس برنامه نویسی - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-03.png")
                img(src="/images/gallery/img-03.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس برنامه نویسی - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-04.png")
                img(src="/images/gallery/img-04.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس برنامه نویسی - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-05.png")
                img(src="/images/gallery/img-05.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-06.png")
                img(src="/images/gallery/img-06.png", alt="img" width="600" height="400")
            .description سرگرمی های هولدینگ فناپ - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-07.png")
                img(src="/images/gallery/img-07.png", alt="img" width="600" height="400")
            .description سرگرمی های هولدینگ فناپ - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-08.png")
                img(src="/images/gallery/img-08.png", alt="img" width="600" height="400")
            .description سرگرمی های هولدینگ فناپ - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-09.png")
                img(src="/images/gallery/img-09.png", alt="img" width="600" height="400")
            .description ترم اول کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-10.png")
                img(src="/images/gallery/img-10.png", alt="img" width="600" height="400")
            .description ترم اول کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-11.png")
                img(src="/images/gallery/img-11.png", alt="img" width="600" height="400")
            .description ترم اول کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-12.png")
                img(src="/images/gallery/img-12.png", alt="img" width="600" height="400")
            .description ترم اول کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-13.png")
                img(src="/images/gallery/img-13.png", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-14.png")
                img(src="/images/gallery/img-14.png", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-15.png")
                img(src="/images/gallery/img-15.png", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-16.png")
                img(src="/images/gallery/img-16.png", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-17.png")
                img(src="/images/gallery/img-17.png", alt="img" width="600" height="400")
            .description نمایشگاه الکامپ - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-18.png")
                img(src="/images/gallery/img-18.png", alt="img" width="600" height="400")
            .description کلاس هم افزایی معلمان - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-19.png")
                img(src="/images/gallery/img-19.png", alt="img" width="600" height="400")
            .description پروژه دانشجویی - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-20.png")
                img(src="/images/gallery/img-20.png", alt="img" width="600" height="400")
            .description ربات های فوتبالیست - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-21.png")
                img(src="/images/gallery/img-21.png", alt="img" width="600" height="400")
            .description ربات های مسیریاب - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-22.png")
                img(src="/images/gallery/img-22.png", alt="img" width="600" height="400")
            .description ربات های مسیریاب - تابستان ۹۸
        