extends layout
block styles
  link(rel="stylesheet", href="/stylesheets/index.css")
block content 
  .topimg
    img.slide(id="slide1", src="/images/slideshow-02.jpg")
    img.slide(id="slide2", src="/images/slideshow-01.jpg")
    img.slide(id="slide3", src="/images/slideshow-03.jpg")
    a.prev(id="prev") &#10094
    a.next(id="next") &#10095
    a.begin(href="/quiz") 
      i.fa.fa-chevron-left
      | همین حالا شروع کنید
    .dots
      span(class = "dot", id="dot1" , onclick="currentSlides(1)")
      span(class = "dot", id="dot2" , onclick="currentSlides(2)")
      span(class = "dot", id="dot3" , onclick="currentSlides(3)")

  .content
    .triple-content
      .content-part
        i.fa.fa-graduation-cap.icon
        h1.title کلاس های آموزشی
        .text 
          | آکادمی رباتیک ایران با هدف توسعه علم رباتیک و برنامه نویسی در کشور عزیزمان کلاس های آموزشی خود را برگزار می کند. در صورت تمایل برای شرکت در کلاس ها به قسمت آموزش مراجعه کنید.
      .content-part
        i.fa.fa-trophy.icon
        h1.title مسابقات رباتیک و برنامه نویسی
        .text 
          | مسابقات جونیورکاپ هر سال توسط آکادمی رباتیک ایران در دو بخش رباتیک و برنامه نویسی برگزار میگردد. این مسابقات دارای شش لیگ مختلف ربات های فوتبالیست سبک وزن, ربات های فوتبالیست سنگین وزن, ربات های مسیریاب (ساده و پیشرفته) و امداد فضای مشترک (مقدماتی و پیشرفته) می باشد.
      .content-part
        i.fa.fa-globe.icon
        h1.title برگزاری کارسوق های پژوهشی
        .text 
          | ورکشاپ ها و کارسوق های مرتبط با موضوع های رباتیک و برنامه نویسی توسط آکادمی رباتیک ایران در مدارس و دبیرستان های دوره اول و دوم برگزار میگردد. در صورت تمایل برای برگزاری کارسوق تماس بگیرید.
    .end-dash.space
  .content
    .right-content
      .text-pad
        h1.title آشنایی با آکادمی
        h1.under-title اطلاعات و سوابق
        .text
          | آکادمی رباتیک ایران از سال ۱۳۹۸ توسط دبیران و اساتید پژوهشی مدارس سمپاد تاسیس شد. 
          | هدف از تاسیس این مجموعه هدایت دانش آموزان در مسیری متفاوت از آموزش عادی مدارس است تا بتوانند آینده خود را درخشان تر کنند.
          | از فعالیت های این مجموعه می توان به برگزاری کلاس های آموزشی, برگزاری کارسوق های پژوهشی در مدارس, تولید و گسترش محتوای علمی در زمینه رباتیک و برنامه نویسی و همچنین برگزاری مسابقات علمی و پژوهشی اشاره نمود.
      .img-pad
        img(src="/images/elecomp.jpg")
    .end.space
  .content
    .image-content
      .imgpad
        img(src="/images/img-04.png")
        .text
          h1.title فعالیت های آکادمی رباتیک ایران
          .item
            i.fa.fa-chevron-left.icon
            | برگزاری کلاس های آموزشی
          .item 
            i.fa.fa-chevron-left.icon
            | برگزاری مسابقات علمی و پژوهشی 
          .item 
            i.fa.fa-chevron-left.icon
            | برگزاری کارسوق های علمی و پژوهشی
          .item 
            i.fa.fa-chevron-left.icon
            | تولید محتوای الکترونیکی در زمینه رباتیک و برنامه نویسی
  .class-container
    .paragraph-right
        .paragraph-text
            h1.title ثبت نام در آکادمی
            h1.under-title ثبت نام در کلاس های آکادمی
            p.text
                | برای ثبت نام در کلاس های آکادمی میتوانید هم به صورت حضوری و هم به صورت غیر حضوری اقدام نمایید. 
                | در صورت تمایل برای شرکت در کلاس ها کافیست وارد حساب کاربری خود شده و در بخش کلاس مورد نطر بر روی گزینه ثبت نام کلیک کنید.
            - if(user){
            a.sign-in#sign-in ثبت نام
            - } else{
            a.login-first(href="/users/login") لطفا ابتدا وارد حساب کاربری خود شوید.
            - }
        .imgpad
            img(src="/images/caricator-01.png")
  .sign-in-modal#sign-in-modal
      .sign-in
          span.close#signinclose &times;
          form(action="/classes/register" method="POST")
              h1.modal-title ثبت نام کلاس
              label(for="fullname")
                  b نام و نام خانوادگی:
              br
              input.input-text(type="text" placeholder="Full name" name="fullname" value="#{user.fullname}" required )
              br
              label(for="term")
                  b ترم:
              br
              select.input-text(name="term")
                  option(value="بهار") بهار
                  option(value="تابستان") تابستان
                  option(value="پاییز") پاییز
                  option(value="زمستان") زمستان
              br
              label(for="className")
                  b نام کلاس:
              br
              -var classNamesEn = ['scratch', 'c++', 'python', 'web', 'robotic', 'photoshop'];
              -var classNamesFa = ['برنامه نویسی مقدماتی Scratch', 'برنامه نویسی C++', 'برنامه نویسی python', 'برنامه نویسی web', 'رباتیک', 'طراحی گرافیک Photoshop'];
              select.input-text(name="className")
                  -for(var i=0; i<classNamesEn.length; i++){
                      option(value='#{classNamesEn[i]}')= classNamesFa[i]
                  -}
              br
              label(for="attend")
                  b نوع حضور:
              br
              select.input-text(name="attend")
                  option(value="real") حضوری
                  option(value="virtual") مجازی
              
              br
              input.submit(type="submit" value="ثبت نام")
          .imgpad
              img(src="/images/walle.png")
  .location 
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.8727320541175!2d51.36119835022258!3d35.70474933619308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e01d79e7dc0d5%3A0xe953b07a7cbf5b1c!2zSXJhbiBSb2JvdGljIEFjYWRlbXkg2KLaqdin2K_ZhduMINix2KjYp9iq24zaqSDYp9uM2LHYp9mG!5e0!3m2!1sen!2sfr!4v1578070903097!5m2!1sen!2sfr" frameborder="0" allowfullscreen="")
  script(src="/javascripts/index.js")