doctype html

html
  head
    title IRA
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    //- script(src="https://kit.fontawesome.com/93e9e402da.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    link(rel = "icon" type = "image/png" href = "/images/logot.png")
    script(src="/javascripts/jquery-1.6.4.min.js")
    script(src="/javascripts/scripts.js")
    script(src="/javascripts/layout.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    
  body
    .modal#login-register
      .login-register-panel#loginpanel
        span.close#closebtn &times;
        .login-pad
          form(action="/users/login" id="login" method="POST")
            h1.modal-title 
              i.fa.fa-sign-in.icon  
              | ورود  
            label(for="uname")
              b نام کاربری:
            br
            i.fa.fa-user.input-icon
            input.input-text(type="text" placeholder="Username" name="uname" required)
            br
            label(for="uname")
              b رمز عبور:
            br
            i.fa.fa-key.input-icon
            input.input-text(type="password" placeholder="Password" name="psw" required)
            br
            input.submit(type="submit" value="ورود")
        .register-pad
          form(action="/users/register" id="register" method="POST")
            h1.modal-title 
              i.fa.fa-user-plus.icon  
              | ثبت نام
            label(for="uname")
                b نام کاربری:
            br
            i.fa.fa-user.input-icon
            input.input-text(type="text" placeholder="Username" name="uname")
            br
            label(for="email")
                b پست الکترونیکی:
            br
            i.fa.fa-envelope.input-icon
            input.input-text(type="email" placeholder="E-mail" name="email")
            br
            label(for="phone")
                b تلفن:
            br
            i.fa.fa-phone.input-icon
            input.input-text(type="tel" placeholder="phone" name="phone")
            br
            label(for="education")
                b تحصیلات:
            br
            i.fa.fa-book.input-icon
            select.input-text(name="education")
                option(value="basic") ابتدایی
                option(value="junior1") دبیرستان دوره اول
                option(value="junior2") دبیرستان دوره دوم
                option(value="major1") دانشجو کارشناسی
                option(value="major2") دانشجو کارشناسی ارشد
            br
            label(for="fullname")
                b نام و نام خانوادگی(فارسی):
            br
            i.fa.fa-user.input-icon
            input.input-text(type="text" placeholder="fullname" name="fullname")
            br
            label(for="psw")
                b رمز عبور:
            br
            i.fa.fa-key.input-icon
            input.input-text(type="password" placeholder="Password" name="psw")
            br
            label(for="configpsw")
                b تایید رمز عبور:
            br
            i.fa.fa-check.input-icon
            input.input-text(type="password" placeholder="Password" name="configpsw")
            br
            input.submit(type="submit" value="ثبت نام")
        

    header
      .top-contact
        .contact-us تماس با ما:
        i.fa.fa-phone.icon
        .phone 09197228658
        i.fa.fa-envelope.icon
        .email info@iranroboticacademy.com
      .social-medias
        a(href="http://t.me/iranroboticacademy")
          i.fa.fa-telegram
        a(href="http://instagram.com/iranroboticacademy")
          i.fa.fa-instagram
      .top-title IRAN ROBOTIC ACADEMY
    nav
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        i.fa.fa-list-ul
      #navbarSupportedContent.collapse
        a.nav-link#nav-link1.active(href='/') صفحه اصلی  
          i.fa.fa-home.nav-icon
        a.nav-link#nav-link2.navbar-dropdown-link  آموزش  
          i.fa.fa-book.nav-icon
        a.nav-link#nav-link3(href='/education') آموزش مجازی  
          i.fa.fa-tv.nav-icon
        a.nav-link#nav-link4(href='/') مسابقات  
          //- i.fa.fa-android  
        a.nav-link#nav-link6(href='/gallery') گالری
          //- i.fa.fa-phone  
        a.nav-link#nav-link5(href='/about') درباره ما  
          //- i.fa.fa-info  
      a(href="/")
        .logo
          img(src="/images/logo.jpg")
      -if(!uname){
        button.log#loginbtn() ورود / ثبت نام
      -}else {
        button.userbtn#userbtn 
          .uname-btn= uname  
          i.fa.fa-user.user-icon
          i.fa.fa-chevron-down.down-icon
      -}
    .navbar-dropdown#dropdown1
      .dropdown-part
        h1.navbar-dropdown-title
          i.fa.fa-book.icon
          | کلاس های آموزشی
        a.nav-dropdown-link(href="/classes/robotic")
          i.fa.fa-chevron-left.icon  
          | کلاس رباتیک   
        a.nav-dropdown-link(href="/classes/computer")
          i.fa.fa-chevron-left.icon  
          | کلاس برنامه نویسی
        a.nav-dropdown-link(href="/classes/computer")
          i.fa.fa-chevron-left.icon  
          | کلاس کدنویسی کودکان
        a.nav-dropdown-link(href="/classes/electronic")
          i.fa.fa-chevron-left.icon  
          | کلاس الکترونیک
      .dropdown-part
        h1.navbar-dropdown-title
          i.fa.fa-book.icon
          | دوره های آموزشی
        a.nav-dropdown-link(href="")
          i.fa.fa-chevron-left.icon  
          | دوره آموزشی AVR
        a.nav-dropdown-link(href="")
          i.fa.fa-chevron-left.icon  
          | دوره آموزشی ARM
        a.nav-dropdown-link(href="")
          i.fa.fa-chevron-left.icon  
          | دوره آموزشی Arduino

    -if(uname){
    .dropdown#dropdownuser
      a(href="/dashboard")
        .acount-link
          .picture-pad
            i.fa.fa-user.acound-icon
          h1.uname= user.fullname
          h1.enter-panel ورود به پنل کاربری
            i.fa.fa-angle-left.enter-icon
      .link-border
      a.dropdown-link(href="#")
        i.fa.fa-book.icon
        | کلاس های من
      .link-border
      a.dropdown-link(href="#")
        i.fa.fa-cog.icon
        | تنظیمات حساب
      .link-border
      a.dropdown-link.logoutbtn(href="/users/logout")
        i.fa.fa-sign-out.icon
        | خروج
    -}
      //- .search
      //-   form(action="/")
      //-     input(type="text", name="search", placeholder="Search...")
      //-     button(type="submit")
      //-       i(class="fa fa-search")
      

    .container
      block content

    footer
      .footer-block
        h1.title کلاس های آموزشی
        a.link(href="/classes/robotic")
          i.fa.fa-chevron-left.icon
          | رباتیک
        a.link(href="/classes/computer")
          i.fa.fa-chevron-left.icon
          | برنامه نویسی
        a.link(href="/classes/computer")
          i.fa.fa-chevron-left.icon
          | کدنویسی کودکان
        a.link(href="/classes/electronic")
          i.fa.fa-chevron-left.icon
          | الکترونیک
      .footer-block
        h1.title دوره های آموزشی
        a.link(href="#")
          i.fa.fa-chevron-left.icon
          | دوره آموزشی AVR
        a.link(href="#")
          i.fa.fa-chevron-left.icon
          | دوره آموزشی ARM
        a.link(href="#")
          i.fa.fa-chevron-left.icon
          | دوره آموزشی Arduino
      .footer-block
        h1.title مسابقات
        a.link(href="#")
          i.fa.fa-chevron-left.icon
          | juniorcupt 2020
        a.link(href="#")
          i.fa.fa-chevron-left.icon
          | juniorcupt 2019
        a.link(href="#")
          i.fa.fa-chevron-left.icon
          | juniorcupt 2018220px
      .footer-block
        .address 
          i.fa.fa-map-marker.icon
          | نشانی: 
          .orange تهران, ستارخان, خیابان شادمهر, خیابان نیک روش فرد, کلبه آفرینش فکر, پلاک ۱۵
        .phone
          i.fa.fa-phone.icon
          | تلفن: 
          .orange 09223028958
      .footer-social-media
        a.icon(href="http://instagram.com/iranroboticacademy")
          i.fa.fa-instagram.s-icon
        a.icon(href="http://t.me/iranroboticacademy")
          i.fa.fa-telegram.s-icon
        
      
      p.down Iran Robotic Academy
    