doctype html

html
  head
    title IRA
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    //- script(src="https://kit.fontawesome.com/93e9e402da.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    link(rel = "icon" type = "image/png" href = "/images/logot.png")
    script(src="/javascripts/jquery-1.6.4.min.js")
    script(src="/javascripts/scripts.js")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    
  body
    .modal(id="id01")
      form.login(action="/users/login" id="login" method="POST")
        .imgcontainer
          span.close(onclick="document.getElementById('id01').style.display='none'" title="Close") &times;
          img.avatar(src="/images/person.jpg", alt="person")
        .logincontainer
          label(for="uname")
            b نام کاربری:
          input(type="text" placeholder="Username" name="uname" required)
          label(for="uname")
            b رمز عبور:
          input(type="password" placeholder="Password" name="psw" required)
          button(type="submit" name="action" value="login") ورود
          button(onclick="window.location.href = '/users/register';") ثبت نام
          

    header
      h1.ps آکادمی رباتیک ایران
      h1.en Iran Robotic Academy 
      .logo
        img(src="/images/logo.jpg", alt="logo")
      .language
        a(href="/en")
          //- img(src="/images/languages/english.png")
    
    .navigation 
      a.active(href="/") صفحه اصلی 
        i(class="fa fa-home")
      a(href="/classes") کلاس ها
      a(href="/tutorials") دوره های آموزشی
      a(href="/gallery") گالری
      a(href="/teachers") اساتید
      //a(href="/competitions") مسابقات
      a(href="/about") درباره ما
      a(href="/contact") تماس با ما
      
      .search
        form(action="/")
          input(type="text", name="search", placeholder="Search...")
          button(type="submit")
            i(class="fa fa-search")
      -if(!uname){
        button.log(onclick="document.getElementById('id01').style.display='block'") ورود / ثبت نام
      -}else {
        button.log(onclick="window.location.href = '/dashboard';") #{uname} پنل کاربری 
        a.logout(href="/users/logout") خروج  
      -}

    .container
      block content

    footer
      h4.tutorials دوره های آموزشی
      ul
        li
          a(href="/tutorials/avr") دوره آموزشی میکروکنترلر های AVR
        li
          a(href="/tutorials/arm") دوره آموزشی میکروکنترلر های ARM
        li
          a(href="/tutorials/arduino") دوره آموزشی بورد های Arduino
        li
          a(href="/tutorials/cpp") دوره آموزشی برنامه نویسی ++C
        li
          a(href="/tutorials/python") دوره آموزشی برنامه نویسی Python
      h4.classes کلاس ها
      ul
        li
          a(href="/classes/robotic") کلاس رباتیک
        li
          a(href="/classes/computer") کلاس برنامه نویسی
        li
          a(href="/classes/electronic") کلاس آموزش الکترونیک
      
      .address
        p
          i(class="fa fa-map-marker-alt")
          |  نشانی: تهران, ستارخان, خیابان شادمهر, خیابان نیک روش فرد, کلبه آفرینش فکر, پلاک ۱۵
          br
          i(class="fa fa-phone-volume")
          |  تلفن: 09223028958
      .contacts
        a(href="http://t.me/iranroboticacademy", target="_blank")
          i(class="fa fa-telegram-plane")
          //img(src="/images/telegram.png", alt="telegram")
        a(href="http://instagram.com/iranroboticacademy", target="_blank")
          i(class="fa fa-instagram")
          //img(src="/images/instagram.png", alt="instagram")
      
      p.down Iran Robotic Academy
