extends layout

block content
    link(rel='stylesheet', href='/stylesheets/teachers.css')
    .teacher
        .text   
            h1 فرامرز دایمی, کارشناس ارشد برق
            p
                | 22 سال سابقه فعالیت پژوهشی در مدارس سمپاد و مدارس برتر شهر تهران، 12 دوره ایران اپن، 10 دوره ربوکاپ های جهانی 2006 تا 2017(آلمان، اتریش، هلند، برزیل، مکزیک، چین، سنگاپور، ترکیه، ژاپن و تایلند) مدیر سایت، معاون پژوهشی دبیرستان علامه حلی10، معلم آموزش و پرورش تهران و مدرس الکترونیک و رباتیک
            .contact
                i(class="far fa-envelope")  
                h2 ایمیل: f_daemi@yahoo.com
        img(src="/images/teachers/daemi.jpg", alt="")
    .teacher
        .text   
            h1 	محسن نصرتی، کارشناس کامپیوتر
            p
                | 22 سال سابقه فعالیت پژوهشی در مدارس سمپاد و مدارس برتر تهران، 12 دوره ایران اپن و ربوکاپ جهانی2017 ژاپن. طراح مسابقات حلی نت، مسئول گروه کامپیوتر، مدرس کامپیوتر و رباتیک سیمولیشن 2D,3D,Rescue
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: 
        img(src="/images/teachers/nosrati.jpg", alt="")
    .teacher
        .text   
            h1 	فرحان دایمی، دانشجوی کارشناسی برق قدرت
            p
                | فارق التحصیل دبیرستان علامه حلی ۱ تهران، ۵ سال سابقه شرکت در مسابقات رباتیک از جمله مسابقات جهانی برزیل ۲۰۱۴، هلند ۲۰۱۳، مکزیک ۲۰۱۲ و ایران اپن ۲۰۱۲ تا ۲۰۱۸. تدریس برنامه نویسی کامپیوتر به زبان های C، C++، Python، Java، C#، HTML، CSS، PHP، JavaScript، JQuery، Node js
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: fdmxfarhan@yahoo.com
        img(src="/images/teachers/farhan.jpg", alt="")
    .teacher 
        .text   
            h1 	مجاهد یوسفی، کارشناس کامپیوتر
            p
                | 20 سال سابقه فعالیت پژوهشی در مدارس برتر شهر تهران، پژوهشسراها و سرای محله شهرداری تهران. مدیر آموزشگاه های تکنوربیران، مدیر روابط بین الملل و ارتباط با صنعت، مدرس الکترونیک و رباتیک
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: 
        img(src="/images/teachers/yousefi.jpg", alt="")
    .teacher 
        .text   
            h1 	امین زاهدی، کارشناس برق
            p
                | 7 سال سابقه فعالیت پژوهشی در مدارس سمپاد و مدارس برتر شهر تهران، شرکت در 6 دوره مسابقات رباتیک ایران اپن، ربوکاپ های 2011 ترکیه، 2015 چین، 2016 آلمان، 2017 ژاپن، مدرس کامپیوتر و برنامه نویسی، الکترونیک و رباتیک در زمینه ربات های مسیریاب، امدادگر، فوتبالیست دانش آموزی و دانشجویی Small size
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: 
        img(src="/images/teachers/zahedi.jpg", alt="")
    .teacher 
        .text   
            h1 کامیاب یزدی، کارشناس مکانیک
            p
                | 5 سال سابقه فعالیت پژوهشی در مدارس سمپاد و مدارس برتر تهران، 4 دوره ایران اپن و ربوکاپ جهانی 2017 ژاپن. مدرس کامپیوتر، الکترونیک و رباتیک در زمینه ربات های مسیریاب، امدادگر و فوتبالیست
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: 
        img(src="/images/teachers/yazdi.jpg", alt="")
    .teacher 
        .text   
            h1 مرتضی فغانی ، کارشناس ارشد هوا فضا
            p
                | کارشناس آزمایشگاه سازمان فضایی ایران، 6 دوره ایران اپن، روبوکاپ های 2014 برزیل، 2015 چین، 2016 آلمان، 2017 ژاپن، 2017 تایلند، مدرس کامپیوتر، برنامه نویسی، روباتیک در زمینه cospace – rescue line و rescue simulation
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: 
        img(src="/images/teachers/faghani.jpg", alt="")
    .teacher 
        .text   
            h1 مینا یحیوی، کارشناس ارشد معماری کامپیوتر
            p
                | 12 سال سابقه فعالیت پژوهشی در مدارس سمپاد، 10دوره ایران اپن، ربوکاپ 2014 برزیل و آسیاکاپ 2017 تایلند.
                | مدرس کامپیوتر، الکترونیک و رباتیک در زمینه مسیریاب، امدادگر و فوتبالیست
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: yahyavi.mina@yahoo.com
        img(src="/images/teachers/yahyavi.jpg", alt="")
    .teacher 
        .text   
            h1 مهدیه کارگران، کارشناس ارشد برق
            p
                | 12 سال سابقه فعالیت پژوهشی در مدارس سمپاد، 10دوره ایران اپن، ربوکاپ 2013 هلند، ربوکاپ 2014 برزیل و
                | آسیاکاپ 2017 تایلند- مدرس کامپیوتر، الکترونیک و رباتیک در زمینه مسیریاب، امدادگر و فوتبالیست
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: 
        img(src="/images/teachers/kargaran.jpg", alt="")
    .teacher 
        .text   
            h1 ساناز معصومی، کارشناس ارشد معماری کامپیوتر
            p
                | 10 سال سابقه فعالیت پژوهشی در مدارس سمپاد و مدارس برتر شهر تهران، 10دوره ایران اپن، ربوکاپ 2013 هلند، ربوکاپ 2016 چین، ربوکاپ 2017 ژاپن و آسیاکاپ 2017 تایلند- مدرس کامپیوتر، الکترونیک و رباتیک در زمینه مسیریاب، امدادگر و فوتبالیست
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: 
        img(src="/images/teachers/masoumi.jpg", alt="")
    .teacher 
        .text   
            h1 الهام دانشمند، کارشناس علوم کامپیوتر
            p
                | 6 سال سابقه فعالیت پژوهشی در مدارس سمپاد،4 دوره ایران اپن ، ربوکاپ 2013 هلند و آسیاکاپ2017 تایلند، مدرس الکترونیک و رباتیک در زمینه فوتبالیست و امداد فضای مشترک CO-Space
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: 
        img(src="/images/teachers/daneshmand.jpg", alt="")
    .teacher 
        .text   
            h1 سودابه ماحسنی، کارشناس ارشد برق
            p
                | 5 سال سابقه فعالیت پژوهشی در مدارس سمپاد و مدارس برتر شهر تهران، 5 دوره ایران اپن، مدرس کامپیوتر، الکترونیک و رباتیک در زمینه مسیریاب، امدادگر و فوتبالیست
            .contact
                i(class="far fa-envelope") 
                h2  ایمیل: 
        img(src="/images/teachers/mahhasani.jpg", alt="")
    