extends layout

block content
    link(rel='stylesheet', href='/stylesheets/classes.css')
    .class
        h1 دوره آموزشی الکترونیک و مدارات منطقی
        p
            | در این دوره دانش آموزان و یا دانش آموزان مفاهیم پایه الکترونیک را خواهند آموخت که شامل مفاهیم 
            | اولیه فیزیک الکترونیک و مدارات منطقی می باشد. این دوره پیش نیاز بسیاری از دوره های دیگر نظیر میکروکنترلر ها است و به درک بهتر آنها کمک خواهد کرد. 
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/electronic.png", alt="img")
        a(href="/tutorials/circuit") ثبت نام
    .class
        h1 دوره آموزشی میکروکنترلر های AVR
        p
            | میکروکنترلرها کامپیوتر های کوچکی هستند که قابلیت برنامه ریزی دارند. این برنامه ریزی توسط کامپیوتر و 
            | با زبان های برنامه نویسی مختلف نظیر C++ و C و زبان های دیگر انجام میگیرد. در این دوره با خانواده ای از میکروکنترلرها آشنا خواهیم شد 
            | و همراه با انجام پروژه نحوه کارکرد این نوع میکروکنترلر ها را می آموزیم. پیش نیاز این دوره الکترونیک و مدار است. 
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/avr.jpg", alt="img")
        a(href="/tutorials/avr") ثبت نام
    .class
        h1 دوره آموزشی میکروکنترلر های ARM
        p
            | میکروکنترلرهای ARM نوعی دیگر از میکروکنترلرها هستند که توسط دو شرکت Atmel و ST تولید می شوند.
            | این میکروکنترلر های ۳۲ بیتی از سرعت پردازش بسیار بالایی برخوردار هستند. قابلیت های این میکروکنترلرها بسیار بیشتر از میکروکنترلرهای AVR میباشد.
            | پیشنیاز این دوره الکترونیک و مدار است اما پیشنهاد می شود قبل از شرکت در این دوره ابتدا در دوره AVR شرکت نمایید.
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/arm.jpg", alt="img")
        a(href="/tutorials/arm") ثبت نام
    .class
        h1 دوره آموزشی بورد های Arduino
        p
            | بورد های آردوینو با استفاده از میکروکنترلر ها یک مجموعه قابل برنامه ریزی توسط نرم افزار Arduino IDE 
            | هستند که یادگیری و استفاده بسیار ساده ای دارند. در این دوره به راه اندازی انواع این بورد ها خواهیم پرداخت و 
            | همچنین تمام سنسور های مورد نیاز برای انجام یک پروژه کاربردی را توسط این بورد ها راه اندازی خواهیم کرد. پیش نیاز این دوره الکترونیک و مدار می باشد و 
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/arduino.jpg", alt="img")
        a(href="/tutorials/arduino") ثبت نام
    .class
        h1 دوره آموزشی برنامه نویسی ++C
        p
            | زبان های برنامه نویسی با هدف آسان تر شدن ارتباط زبان انسان با زبان کامپیوتر ها به وجود آمدند. این زبان ها که با توجه 
            | به نوع استفاده انواع مختلفی دارند توسط کامپایلر ها به زبان ماشین تبدیل شده و اجره میگردند. زبان برنامه نویسی C++ یک زبان 
            | سطح پایین و با دسترسی بیشتر به سخت افزار می باشد که بسیاری از مهندسین در پروژه های صنعتی خود از این زبان 
            | استفاده می کنند. خوب است برای شروع برنامه نویسی ابتدا زبان پایتون یاد گرفته شود زیرا بسیار ساده تر از این زبان می باشد. 
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/cpp.png", alt="img")
        a(href="/tutorials/cpp") ثبت نام
    .class
        h1 دوره آموزشی برنامه نویسی Python
        p
            | زبان برنامه نویسی پایتون یکی از به روز ترین و پرکاربرد ترین زبان های برنامه نویسی امروزی می باشد که
            | بسیار قدرتمند و در عین حال بسیار ساده است. به طوری که بیشترین شباهت را به زبان انسان داراست. 
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/python.png", alt="img")
        a(href="/tutorials/python") ثبت نام
    .class
        h1 دوره آموزشی طراحی وب HTML
        p
            | نخستین گام در حرفه طراحی وب یادگیری زبان HTML می باشد. در این زبان ساختار صفحات وب را میتوان طراحی و استفاده کرد. 
            | پس از فراگیری این دوره به وسیله زبان CSS می توان صفحه ساخته شده توسط زبان HTML را زیبا تر و مرتب تر کنیم.
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/html.jpg", alt="img")
        a(href="/tutorials/html") ثبت نام
    .class
        h1 دوره آموزشی طراحی وب CSS
        p
            | زبان CSS تنها برای زیبایی بخشیدن به صفحات ساخته شده توسط زبان HTML ساخته شده است. به همین علت 
            | پیش نیاز این دوره تسلط بر زبان HTML می باشد.
        img(src="/images/tutorials/css.jpg", alt="img")
        a(href="/tutorials/css") ثبت نام
    .class
        h1 دوره آموزشی طراحی وب PHP
        p
            | زبان های HTML و CSS تنها برای ساخت یک صفحه وب می باشند. اما یک وب سایت حرفه ای نیازمند ده ها صفحه وب برای هر بخش از وب سایت است و 
            | این صفحات نیازمند مدیریت هستند. زبان PHP به ما این امکان را میدهد که صفحات وب را به درستی مدیریت کرده و آنچه که مورد نیاز کاربر است به او نمایش دهیم. 
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/php.jpg", alt="img")
        a(href="/tutorials/php") ثبت نام
    .class
        h1 دوره آموزشی برنامه نویسی اندروید
        p
            | امروزه تلفن های همراه هوشمند به سرعت در حال گسترش و پیشرفت هستند. ساخت نرم افزار های تحت سیستم عامل این تلفن ها 
            | بازار کار بسیار بزرگ و پر سودی دارد. در این دوره طراحی و ساخت نرم افزار های اندروید با استفاده از نرم افزار Android Studio آموزش داده خواهد شد.
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/android.png", alt="img")
        a(href="/tutorials/android") ثبت نام
    .class
        h1 دوره آموزشی طراحی وب حرفه ای Node js
        p
            | طراحی وب یک حرفه بسیار پر درآمد و پر سود در عصر امروز است و تقریبا تمام شرکت ها, موسسه ها, مدرسه ها, فروشگاه ها و بسیاری از مجموعه ها نیازمند وب سایت رسمی هستند. در این دوره ماژول Node js Express آموزش داده میشود تا بتوان به طور کاملا حرفه ای یک وب سایت طراحی کرد. 
            | پس از پایان این دوره به داوطلبین مدرک معتبر اعطا می گردد.
        img(src="/images/tutorials/nodejs.png", alt="img")
        a(href="/tutorials/nodejs") ثبت نام
    