extends layout

block content 
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    script(src="/javascripts/dashboard.js")
    - if(uname != ''){
        .dashboard 
            .tab
                button.tablink(id="btn1") کلاس ها
                button.tablink(id="btn2") دوره های آموزشی
                button.tablink(id="btn3") تنظیمات حساب کاربری
            .tabcontent(id="classes-tab")
                h1 کلاس ها
                h1 کلاس ها
                h1 کلاس ها
                h1 کلاس ها
            .tabcontent(id="tutorials-tab")
                h1 دوره های آموزشی
                h1 دوره های آموزشی
                h1 دوره های آموزشی
                h1 دوره های آموزشی
            .tabcontent(id="setting-tab")
                
                
            

    - }
    - else {
        h1 you are not logged in !!!!!!!!!!!!!!!!!
    - }
