extends layout

block content
    link(rel='stylesheet', href='/stylesheets/gallery.css')
    .imgpad
        h1 تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-01.png")
                img(src="/images/gallery/img-01.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-02.png")
                img(src="/images/gallery/img-02.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس برنامه نویسی - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-03.png")
                img(src="/images/gallery/img-03.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس برنامه نویسی - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-04.png")
                img(src="/images/gallery/img-04.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس برنامه نویسی - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-05.png")
                img(src="/images/gallery/img-05.png", alt="img" width="600" height="400")
            .description ترم دوم کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-06.png")
                img(src="/images/gallery/img-06.png", alt="img" width="600" height="400")
            .description سرگرمی های هولدینگ فناپ - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-07.png")
                img(src="/images/gallery/img-07.png", alt="img" width="600" height="400")
            .description سرگرمی های هولدینگ فناپ - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-08.png")
                img(src="/images/gallery/img-08.png", alt="img" width="600" height="400")
            .description سرگرمی های هولدینگ فناپ - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-09.png")
                img(src="/images/gallery/img-09.png", alt="img" width="600" height="400")
            .description ترم اول کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-10.png")
                img(src="/images/gallery/img-10.png", alt="img" width="600" height="400")
            .description ترم اول کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-11.png")
                img(src="/images/gallery/img-11.png", alt="img" width="600" height="400")
            .description ترم اول کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-12.png")
                img(src="/images/gallery/img-12.png", alt="img" width="600" height="400")
            .description ترم اول کلاس رباتیک - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-13.png")
                img(src="/images/gallery/img-13.png", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-14.png")
                img(src="/images/gallery/img-14.png", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-15.png")
                img(src="/images/gallery/img-15.png", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-16.png")
                img(src="/images/gallery/img-16.png", alt="img" width="600" height="400")
            .description کارسوق کامپیوتر - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-17.png")
                img(src="/images/gallery/img-17.png", alt="img" width="600" height="400")
            .description نمایشگاه الکامپ - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-18.png")
                img(src="/images/gallery/img-18.png", alt="img" width="600" height="400")
            .description کلاس هم افزایی معلمان - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-19.png")
                img(src="/images/gallery/img-19.png", alt="img" width="600" height="400")
            .description پروژه دانشجویی - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-20.png")
                img(src="/images/gallery/img-20.png", alt="img" width="600" height="400")
            .description ربات های فوتبالیست - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-21.png")
                img(src="/images/gallery/img-21.png", alt="img" width="600" height="400")
            .description ربات های مسیریاب - تابستان ۹۸
        .galleryimg
            a(href="/images/gallery/img-22.png")
                img(src="/images/gallery/img-22.png", alt="img" width="600" height="400")
            .description ربات های مسیریاب - تابستان ۹۸
        