extends layout

block content 
  .topimg
    img.slide(id="slide1", src="/images/topslide-01.jpg")
    img.slide(id="slide2", src="/images/topslide-02.jpg")
    img.slide(id="slide3", src="/images/topslide-03.jpg")
    
    a(id="prev") &#10094
    a(id="next") &#10095
    .dots
      span(class = "dot" , onclick="currentSlides(1)")
      span(class = "dot" , onclick="currentSlides(2)")
      span(class = "dot" , onclick="currentSlides(3)")
  
    .login
      form(action="/en/users/login", id="login",method="post")
        p username:
        input(type="text" name="uname")
        p password: 
        input(type="password" name="psw")
        button.bt(type="submit" name="action" value="login") login
        a.bt(href="/users/register") register
        a.forgot(href="/") forgot my password
    .wellcome(id="wellcome")
      h1 Welcome to 
      h1 Iran Robotic Academy
      img(src="/images/logo1.jpg", alt="img")
    .topimg-logo(id="toplogo")
      img(src="/images/logo.jpg", alt="img")
       
  .cont
    img(src="/images/gallery/img-20.png", alt="cont1")
    .text
      h2 Robocup Asia-pacific 2019
      p
        | Robocup Asia-pacific 2019 competition will be held in Moscow, Rusia. In this competition there is two range of age
        | for students, Junior and Major. in junior there are so many leagues which students can participate in as a team.
        | Iran Robotic Academy is going to have 3 junior teams in junior soccer league and 2 teams in major leage, simulation and industerial.
    a(href="/") Read more...
  .cont
    img(src="/images/gallery/img-05.png", alt="cont1")
    .text
      h2 begining of Robotic and Computer classes
      p
        | Students will start to build their own robots using their skills and talent. After making robots they are ready
        | to participate in Robotic competitions. Students will learn programming languages in computer classes and will be abled to 
        | make their own applications.
    a(href="/") Read more...
  .cont
    img(src="/images/computer_workshop/img-01.jpg", alt="cont1")
    .text
      h2 Computer science workshop in Farzanegan4 Hihgh School
      p
        | In this workshop teachers tried to explain the computer and programming algorythms using games and 
        | intertainments. Simple subjects like Graphs theory and Simple algorythms such as Sort Algorythms has 
        | been explained in this workshop as an interteinment.
    a(href="/") Read more...
  
  .slider(id="slider")
    a(href="/gallery")
      ul(class="slides")
        li(class="slide")
          img(src="/images/slider-01.png", alt="img")
        li(class="slide")
          img(src="/images/slider-02.png", alt="img")
        li(class="slide")
          img(src="/images/slider-03.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-01.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-02.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-03.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-04.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-05.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-06.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-07.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-08.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-09.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-10.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-11.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-12.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-13.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-14.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-15.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-16.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-17.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-18.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-19.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-20.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-21.png", alt="img")
        li(class="slide")
          img(src="/images/gallery/img-22.png", alt="img")
      
      
      