extends layout

block content
    link(rel='stylesheet', href='/stylesheets/classes.css')
    .class
        h1 دوره آموزشی میکروکنترلر های AVR
        p
            | در این کلاس دانش آموزان ابتدا با انواع ربات ها آشنا می شوند و اجزای مختلف ربات ها را می آموزند. پس از 
            | فراگیری مفاهیم مکانیک, سخت افزار و نرم افزار شروع به ساخت ربات های خود می کنند. در صورت تمایل پس از مرحله ساخت
            | ربات می توانند در مسابقات کشوری, بین المللی و جهانی شرکت کنند و تجربه های بسیاری کسب کنند. ثمره این کلاس ها
            | تنها ساخت ربات نیست بلکه دانش آموزان تا حدی مفاهیم الکترونیک, مکانیک و سخت افزار را فرا می گیرند که میتوانند
            | آینده درخشانی داشته باشند و از دانش خود در صنعت امروزی استفاده نمایند.
        img(src="/images/gallery/img-12.png", alt="img")
        a(href="/users/register") ثبت نام
    .class
        h1 دوره آموزشی میکروکنترلر های ARM
        p
            | در این کلاس دانش آموزان ابتدا با انواع ربات ها آشنا می شوند و اجزای مختلف ربات ها را می آموزند. پس از 
            | فراگیری مفاهیم مکانیک, سخت افزار و نرم افزار شروع به ساخت ربات های خود می کنند. در صورت تمایل پس از مرحله ساخت
            | ربات می توانند در مسابقات کشوری, بین المللی و جهانی شرکت کنند و تجربه های بسیاری کسب کنند. ثمره این کلاس ها
            | تنها ساخت ربات نیست بلکه دانش آموزان تا حدی مفاهیم الکترونیک, مکانیک و سخت افزار را فرا می گیرند که میتوانند
            | آینده درخشانی داشته باشند و از دانش خود در صنعت امروزی استفاده نمایند.
        img(src="/images/gallery/img-12.png", alt="img")
        a(href="/users/register") ثبت نام
    .class
        h1 دوره آموزشی بورد های Arduino
        p
            | در این کلاس دانش آموزان ابتدا با انواع ربات ها آشنا می شوند و اجزای مختلف ربات ها را می آموزند. پس از 
            | فراگیری مفاهیم مکانیک, سخت افزار و نرم افزار شروع به ساخت ربات های خود می کنند. در صورت تمایل پس از مرحله ساخت
            | ربات می توانند در مسابقات کشوری, بین المللی و جهانی شرکت کنند و تجربه های بسیاری کسب کنند. ثمره این کلاس ها
            | تنها ساخت ربات نیست بلکه دانش آموزان تا حدی مفاهیم الکترونیک, مکانیک و سخت افزار را فرا می گیرند که میتوانند
            | آینده درخشانی داشته باشند و از دانش خود در صنعت امروزی استفاده نمایند.
        img(src="/images/gallery/img-12.png", alt="img")
        a(href="/rusers/egister") ثبت نام
    .class
        h1 دوره آموزشی برنامه نویسی ++C
        p
            | در این کلاس دانش آموزان ابتدا با انواع ربات ها آشنا می شوند و اجزای مختلف ربات ها را می آموزند. پس از 
            | فراگیری مفاهیم مکانیک, سخت افزار و نرم افزار شروع به ساخت ربات های خود می کنند. در صورت تمایل پس از مرحله ساخت
            | ربات می توانند در مسابقات کشوری, بین المللی و جهانی شرکت کنند و تجربه های بسیاری کسب کنند. ثمره این کلاس ها
            | تنها ساخت ربات نیست بلکه دانش آموزان تا حدی مفاهیم الکترونیک, مکانیک و سخت افزار را فرا می گیرند که میتوانند
            | آینده درخشانی داشته باشند و از دانش خود در صنعت امروزی استفاده نمایند.
        img(src="/images/gallery/img-12.png", alt="img")
        a(href="/users/register") ثبت نام
    .class
        h1 دوره آموزشی برنامه نویسی Python
        p
            | در این کلاس دانش آموزان ابتدا با انواع ربات ها آشنا می شوند و اجزای مختلف ربات ها را می آموزند. پس از 
            | فراگیری مفاهیم مکانیک, سخت افزار و نرم افزار شروع به ساخت ربات های خود می کنند. در صورت تمایل پس از مرحله ساخت
            | ربات می توانند در مسابقات کشوری, بین المللی و جهانی شرکت کنند و تجربه های بسیاری کسب کنند. ثمره این کلاس ها
            | تنها ساخت ربات نیست بلکه دانش آموزان تا حدی مفاهیم الکترونیک, مکانیک و سخت افزار را فرا می گیرند که میتوانند
            | آینده درخشانی داشته باشند و از دانش خود در صنعت امروزی استفاده نمایند.
        img(src="/images/gallery/img-12.png", alt="img")
        a(href="/users/register") ثبت نام
    
    