@font-face {
    font-family:'bnazanin';
    src:url('b_nazanin.ttf');
}
@media only screen and (min-width: 600px) {  
    .class {
        position: relative;
        background-color: #e4e4e4;
        padding: 10px 100px;
        height: 350px;
    }
    .class h1 {
        position: relative;
        font-size: 30px;
        font-family: 'bnazanin';
        text-align: right;
        padding: 0;
        margin: 0;
        margin-top: 50px;
        direction: rtl;
        color: purple;
    }
    .class p{
        font-family: 'bnazanin';
        font-size: 20px;
        direction: rtl;
        text-align: justify;    
        width: 700px;
        line-height: 1.2;
        float: right;
        left: 100px;
        margin-right: 30px;
    }
    .class img{
        width: 290px;
        border-radius: 10px;
        float: left;
        margin-right: 70px;
        margin-left: 0;
        margin-top: 0;
        padding: 0;
        top:0;
    }
    .class a{
        background-color: var(--bgcolor);
        position: relative;
        left: 20px;
        bottom: -20px;
        padding: 10px 50px;
        color: white;
        direction: rtl;
        text-decoration: none;
        font-family: 'bnazanin';
        font-size: 20px;
        /* border-radius: 7px; */
    }
    .class a:hover{
        background-color: var(--bghover)
    }
}
/* --------------------------------------------------------------phone display */
/* --------------------------------------------------------------phone display */
/* --------------------------------------------------------------phone display */
/* --------------------------------------------------------------phone display */
/* --------------------------------------------------------------phone display */
/* --------------------------------------------------------------phone display */
/* --------------------------------------------------------------phone display */
/* --------------------------------------------------------------phone display */

@media only screen and (max-width: 600px) {
    .class {
        position: relative;
        background-color: #e4e4e4;
        padding: 5px 10px;
        height: 450px;
    }
    .class h1 {
        font-size: 25px;
        font-family: 'bnazanin';
        text-align: right;
        padding: 0;
        margin: 0;
        margin-top: 30px;
        direction: rtl;
        color: purple;
    }
    .class p{
        font-family: 'bnazanin';
        font-size: 17px;
        direction: rtl;
        text-align: justify;    
        width: 95%;
        line-height: 1.2;
        float: right;
        left: 100px;
        margin-right: 3px;
    }
    .class img{
        position: relative;
        width: 55%;
        border-radius: 10px;
        float: left;
        margin-right: 70px;
        margin-left: 0;
        margin-top: 0;
        padding: 0;
        top:0;
    }
    .class a{
        background-color: var(--bgcolor);
        position: relative;
        right: 20px;
        top: 100px;
        padding: 10px 20px;
        color: white;
        direction: rtl;
        text-decoration: none;
        font-family: 'bnazanin';
        font-size: 20px;
        /* border-radius: 7px; */
    }
    .class a:hover{
        background-color: var(--bghover)
    }
}