@font-face {
    font-family:'bnazanin';
    src:url('b_nazanin.ttf');
}
@font-face {
    font-family:'btitr';
    src:url('b_titr.ttf');
}

@media only screen and (min-width: 600px) {
    .mainbody{
        width: 100%;
        font-family: 'bnazanin';
        direction: rtl;
        text-align: right;
        padding: 50px 0;
    }
    .mainbody .sidebar{
        float: right;
        background-color: rgb(238, 238, 238);
        width: 25%;
        border-top-left-radius: 5px;
    }
    .mainbody .contentbar{
        position: relative;
        float: right;
        background-color: rgb(238, 238, 238);
        width: 60%;
        margin: 0 50px 100px 30px;
        border-top-right-radius: 20px;
        padding-bottom: 50px;
    }
    h1.sideheader{
        border-top-left-radius: 20px;
        background-color: var(--bgcolor);
        font-family: 'btitr';
        font-size: 16px;
        color: white;
        padding: 15px 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
    a.sidelink{
        width: 90%;
        display: inline-block;
        padding: 15px;
        border-bottom: rgb(219, 219, 219) 1px solid;
        text-decoration: none;
        font-size: 17px;
        color: black;
    }
    a.sideaddlink{
        width: 90%;
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        font-size: 17px;
        color: black;
    }
    a.sidelink:hover{
        background-color: var(--bghover);
        color: white;
    }
    a.sideaddlink:hover{
        background-color: rgb(211, 147, 63);
        color: white;
    }
    a.active{
        border-right: gray 4px solid;
    }
    .information{
        display: block;
    }
    .information h1.contentheader{
        color: var(--bgcolor);
        padding: 15px 30px;
        margin: 0 0 200px 0;
        border-bottom: var(--bgcolor) 3px solid;
    }
    .information .infotext{
        color: black;
        font-family: 'bnazanin';
        font-size: 19px;
        text-align: right;
        direction: rtl;
        padding: 10px 60px;
    }
    .information .infotext p{
        color: rgb(53, 53, 53);
        font-family: 'bnazanin';
        font-size: 19px;
        text-align: justify;
        direction: rtl;
        padding: 5px 20px;
        margin-top: 0;
        width: 95%;
    }
    .photo{
        position: absolute;
        top: 90px;
        left: 60px;
        width: 50%;
    }
    .photo img{
        width: 100%;
    }
    .video{
        text-align: center;
    }
    .video video{
        width: 85%;
    }
    .links{
        padding: 10%;
    }
    .links h2{
        padding: 0;
        color: var(--bgcolor);
        font-family: 'bnazanin';
        font-size: 25px;
        text-align: right;
        direction: rtl;
    }
    .links a.filelink{
        color: white;
        text-decoration: none;
        font-family: 'bnazanin';
        font-size: 25px;
        text-align: right;
        direction: rtl;
        padding: 10px 30px;
        display: block;
        background-color: var(--bgcolor);
        border-bottom: white 1px solid;
    }
    .links a.filelink:hover{
        background-color: var(--bghover);
    }
    .centeralign{
        text-align: center;
        background-color: burlywood;
    }
    .add form{
        width: 100%;
    }
    .add h1.contentheader{
        color: var(--bgcolor);
        padding: 15px 30px;
        margin: 0 0 50px 0;
        border-bottom: var(--bgcolor) 3px solid;
    }
    .add form .label{
        width: 100px;
        display: inline-block;
        color: black;
        text-decoration: none;
        font-family: 'bnazanin';
        font-size: 20px;
        text-align: right;
        direction: rtl;
        padding: 10px 30px;
        margin-bottom: 10px;
    }
    .add form input{
        width: 50%;
        color: black;
        text-decoration: none;
        font-family: 'bnazanin';
        font-size: 15px;
        text-align: right;
        direction: rtl;
        padding: 10px 10px;
        margin-bottom: 10px;
    }
    .add form textarea{
        width: 87%;
        height: 200px;
        color: black;
        text-decoration: none;
        font-family: 'bnazanin';
        font-size: 15px;
        text-align: right;
        direction: rtl;
        padding: 10px 10px;
        margin: 0 30px;
    }
    .add form button.btn{
        background-color: var(--bgcolor);
        padding: 10px 50px;
        color: white;
        direction: rtl;
        text-decoration: none;
        font-family: 'bnazanin';
        font-size: 20px;
        border: none;
        margin-right: 50px;
        margin-top: 20px;
    }
    .dismiss{
        margin: 0 0px;
        width: 530px;
    }
    .dismiss h1.error{
        text-align: right;
        direction: rtl;
        border-radius: 5px;
        background-color: rgb(255, 237, 137);
        padding: 10px;
        margin: 5px;
        color: rgb(53, 53, 53);
        font-family: 'bnazanin';
        font-size: 16px;
    }
    .dismiss h1.success{
        text-align: right;
        direction: rtl;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        color: rgba(53, 53, 53, 0.651);
        background-color: rgb(164, 255, 137);
        font-family: 'bnazanin';
        font-size: 16px;
    }
    img.imgupload:hover{
        filter: brightness(0.6);
    }
    img.imguploadtext{
        position: relative;
    }
    .imguploadtext{
        padding: 15px 25px;
        background-color: rgba(0, 0, 0, 0.616);
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .linkpad{
        position: relative;
    }
    a.uploadfilelink{
        padding: 7px 25px;
        background-color: rgb(238, 102, 49);
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        text-decoration: none;
        position: absolute;
        top: 5px;
        left: 10px;
    }
    a.uploadfilelink:hover{
        background-color: rgb(199, 73, 23);

    }
    .add form input.custom-file-input{
        margin-right: 30%;
    }
    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
        
    }
    .custom-file-input::before {
        margin: 0;
        content: 'انتخاب فایل';
        display: inline-block;
        background: var(--bgcolor);
        color: white;
        font-family: 'bnazanin';
        font-size: 20px;
        border: 1px solid #999;
        border-radius: 3px;
        padding: 30px 100px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
    }
    .custom-file-input:hover::before {
        background-color: var(--bghover);
    }
    .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
}  
@media only screen and (max-width: 600px) {
    
}  