@media only screen and (min-width: 800px) {
    .content{
        margin: 0;
        padding: 1vw 0;
        width: 100%;
        direction: rtl;
        font-family: 'iransans';
        font-size: 1.1vw;
        text-align: center;
    }
    .content .triple-content{
        /* background-color: lightgreen; */
        width: 80%;
        margin: 3vw auto;
        display: inline-flex;
    }
    .content .triple-content .content-part{
        /* background-color: lightblue; */
        /* border: rgb(243, 243, 243) 1px solid; */
        width: 30%;
        height: 22vw;
        margin-left: 3%;
        padding: 0;
    }
    /* .content .triple-content .content-part:hover{
        background-color: rgb(242, 252, 255);
    } */
    .content .triple-content .content-part h1.title{
        margin: 0.7vw 0 1.2vw 0;
        font-size: 1.5vw;
    }
    .content .triple-content .content-part .icon{
        font-size: 4vw;
        color: darkblue;
    }
    .content .triple-content .content-part .text{
        font-size: 1.1vw;
        text-align: center;
        text-align-last: center;
    }
    .content .end-dash.space, .content .end-dot.space , .content .end.space{
        height: 5vw;
    }
    .content .right-content{
        /* background-color: lightblue; */
        width: 85%;
        margin: auto;
        padding: 2vw 0;
    }
    .content .right-content .text-pad{
        display: inline-block;
        width: 65%;
        text-align: right;
    }
    .content .right-content .img-pad{
        display: inline-block;
        width: 30%;
    }
    .content .right-content .img-pad img{
        width: 100%;
    }
    .content .right-content .text-pad h1.title{
        font-family: 'iransans';
        font-size: 1.8vw;
        margin: 0;
    }
    .content .right-content .text-pad .text{
        font-family: 'iransans';
        font-size: 1.1vw;
        width: 90%;
        text-align: justify;
        margin: 0;
    }
    .content .right-content .text-pad h1.under-title{
        font-family: 'iransans';
        color: rgb(182, 181, 181);
        font-size: 1.1vw;
        margin: 0;
    }
    .content .image-content .text{
        position: absolute;
        top: 0;
        z-index: 10;
        color: white;
        font-family: 'iransans';
        font-size: 2vw;
        margin-right: 10%;
        text-align: right;
        margin-top: 4vw;
    }
    .content .image-content .text h1.title{
        font-family: 'iransans';
        font-size: 2vw;
    }
    .content .image-content .item{
        font-family: 'iransans';
        font-size: 1.5vw;
    }
    .class-container .paragraph-right .paragraph-text{
        display: inline-block;
        /* background-color: lightblue; */
        width: 45vw;
        text-align: right;
        margin: 0;
    }
    .class-container .paragraph-right h1.title{
        display: block;
        margin: 0.1vw 0;
        font-size: 2vw;
        color: var(--textcolor);
    }
    .class-container .paragraph-right h1.under-title{
        display: block;
        margin: 0.1vw 0;
        font-size: 1vw;
        color: gray;
    }
    .class-container .paragraph-right .imgpad{
        display: inline-block;
        width: 350px;
        margin: 3vw 3vw 0 0;
    }   
    .class-container .paragraph-right .imgpad img, .class-container .paragraph-right .imgpad video{
        width: 100%;
    }   
    .class-container .paragraph-right p.text{
        font-size: 15px;
        margin: 0;
        padding: 10px 0 50px 0;
        text-align: justify;
        direction: rtl;
    }
    .class-container .paragraph-right p.text a{
        text-decoration: none;
    }
    .class-container .paragraph-right p.text a:hover{
        text-decoration: underline;
    }
    .class-container .plan-img{
        width: 80%;
        margin: auto;
    }
    .class-container .plan-img img{
        width: 100%;
    }
    .class-container a.sign-in{
        background-color: var(--bgcolor);
        color: white;
        padding: 0.6vw 5vw;
        font-weight: bold;
        cursor: pointer;
    }
    .class-container a.sign-in:hover{
        background-color: var(--bghover);
    }
    a.login-first{
        text-decoration: none;
        color: var(--bgcolor);
    }
    a.login-first:hover{
        color: blue;
    }
    .location{
        width: 80%;
        margin: auto;
        margin-top: 3vw;
    }
    .sign-in-modal .sign-in{
        background-color: white;
        width: 60%;
        margin: 2% auto;
        padding: 1vw;
        position: relative;
        text-align: right;
        direction: rtl;
    }
    .sign-in-modal{
        display: none;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.719);
        width: 100%;
        height: 100%;
    }
    .sign-in-modal .sign-in span.close{
        font-size: 2.5vw;
        position: absolute;
        top: 0.5vw;
        left: 2vw;
        cursor: pointer;
    }
    .sign-in-modal .sign-in span.close:hover{
        color: red;
    }
    .sign-in-modal .sign-in form{
        display: inline-block;
        /* background-color: lightblue; */
        width: 50%;
    }
    .sign-in-modal .sign-in form label{
        font-family: 'iransans';
        font-size: 1vw;
    }
    .sign-in-modal .sign-in form input, .sign-in-modal .sign-in form select{
        font-family: 'iransans';
        font-size: 1vw;
        width: 90%;
        padding: 0.4vw 5%;
        margin-top: 0.5vw;
        margin-bottom: 0.8vw;
        background-color: rgb(213, 221, 247);
        border: lightblue 1px solid;
        border-radius: 3px;
    }
    .sign-in-modal .sign-in form input[type=text]{
        width: 80%;
    }
    .sign-in-modal .sign-in form input.submit{
        background-color: var(--bgcolor);
        cursor: pointer;
        color: white;
        margin-top: 2vw;
    }
    .sign-in-modal .sign-in form input.submit:hover{
        background-color: var(--bghover);
    }
    .sign-in-modal .sign-in h1.modal-title{
        font-family: 'iransans';
        font-size: 1.7vw;
        border-bottom: lightgray 1px solid;
        margin-bottom: 2vw;
    }
    .sign-in-modal .sign-in .imgpad{
        display: inline-block;
        width: 25%;
        margin: 0 10% 10% 0;
    }
    .sign-in-modal .sign-in .imgpad img{
        width: 100%;
    }
    .topimg a.begin{
        font-family: 'iransans';
        font-size: 1.7vw;
        background-color: rgba(255, 123, 0, 0.836);
        padding: 0.5vw 2vw;
        border-radius: 1vw;
        color: white;
        font-weight: bold;
        text-decoration: none;
        position: absolute;
        top: 65%;
        /* z-index: 1000; */
        right: 10%;
        direction: rtl;
    }
    .topimg a.begin:hover{
        background-color: green;
    }
    .topimg a.begin i{
        padding-left: 1vw;
    }
}
.content .end-dash{
    width: 40%;
    height: 0.3vw;
    margin: auto;
    border-bottom: var(--bgcolor) 1px dashed;
}
.content .end-dot{
    width: 40%;
    height: 0.3vw;
    margin: auto;
    border-bottom: var(--bgcolor) 1px dotted;
}
.content .end-line{
    width: 40%;
    height: 0.3vw;
    margin: auto;
    border-bottom: var(--bgcolor) 1px solid;
}
.content .end{
    width: 40%;
    height: 0.3vw;
    margin: auto;
}
.content .image-content .imgpad{
    position: relative;
    width: 100%;
}
.content .image-content .imgpad img{
    filter: brightness(0.7);
    width: 100%;
}
.content .image-content .imgpad .icon{
    font-size: 1.5vw;
    padding-left: 2vw;
}
.class-container .paragraph-right{
    /* background-color: aquamarine; */
    text-align: center;
    margin: 0 8vw;
    padding: 1vw 2vw;
    font-family: 'iransans';
    direction: rtl;
}

@media only screen and (max-width: 800px) {
    .content{
        margin: 0;
        padding: 1vw 0;
        width: 100%;
        direction: rtl;
        font-family: 'iransans';
        font-size: 1.1vw;
        text-align: center;
    }
    .content .triple-content{
        /* background-color: lightgreen; */
        width: 80%;
        margin: 3vw auto;
    }
    .content .triple-content .content-part{
        /* background-color: lightblue; */
        /* border: rgb(243, 243, 243) 1px solid; */
        width: 100%;
        height: 35vw;
        margin-left: 3%;
        padding: 0;
    }
    .content .triple-content .content-part h1.title{
        margin: 0.7vw 0 1.2vw 0;
        font-size: 3vw;
    }
    .content .triple-content .content-part .icon{
        font-size: 5vw;
        color: darkblue;
    }
    .content .triple-content .content-part .text{
        font-size: 2.5vw;
        text-align: center;
        text-align-last: center;
    }
    .content .end-dash.space, .content .end-dot.space , .content .end.space{
        height: 0;
    }
    .content .right-content{
        /* background-color: lightblue; */
        width: 80%;
        margin: auto;
        padding: 2vw 0;
    }
    .content .right-content .text-pad{
        display: inline-block;
        width: 100%;
        text-align: right;
        margin: 5vw 0;
    }
    .content .right-content .img-pad{
        display: inline-block;
        width: 100%;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .content .right-content .img-pad img{
        width: 100%;
    }
    .content .right-content .text-pad h1.title{
        font-family: 'iransans';
        font-size: 3vw;
        margin: 0;
    }
    .content .right-content .text-pad .text{
        font-family: 'iransans';
        font-size: 2.5vw;
        width: 100%;
        text-align: justify;
        margin: 0;
    }
    .content .right-content .text-pad h1.under-title{
        font-family: 'iransans';
        color: rgb(182, 181, 181);
        font-size: 2.5vw;
        margin: 0;
    }
    .content .image-content .text{
        position: absolute;
        top: 0;
        z-index: 10;
        color: white;
        font-family: 'iransans';
        font-size: 2vw;
        text-align: center;
        width: 100%;
    }
    .content .image-content .text h1.title{
        font-family: 'iransans';
        font-size: 3.5vw;
        margin: 1vw;
    }
    .content .image-content .item{
        font-family: 'iransans'; 
        font-size: 2.5vw;
    }
    .class-container .paragraph-right .paragraph-text{
        display: inline-block;
        /* background-color: lightblue; */
        width: 95%;
        text-align: right;
        margin: 0;
        margin-top: 3vw;
    }
    .class-container .paragraph-right h1.title{
        display: block;
        margin: 0.1vw 0;
        font-size: 4vw;
        color: var(--textcolor);
    }
    .class-container .paragraph-right h1.under-title{
        display: block;
        margin: 0.1vw 0;
        font-size: 2vw;
        color: gray;
    }
    .class-container .paragraph-right .imgpad{
        display: inline-block;
        width: 90%;
        margin: auto;
    }   
    .class-container .paragraph-right .imgpad img, .class-container .paragraph-right .imgpad video{
        width: 100%;
    }   
    .class-container .paragraph-right p.text{
        font-size: 3vw;
        margin: 0;
        padding: 10px 0 5px 0;
        text-align: justify;
        direction: rtl;
        margin: 4vw 0;
    }
    .class-container a.sign-in{
        background-color: var(--bgcolor);
        color: white;
        padding: 0.6vw 5vw;
        font-weight: bold;
        cursor: pointer;
        margin: 4vw 0;
    }
    .class-container a.sign-in:hover{
        background-color: var(--bghover);
    }
    a.login-first{
        font-family: 'iransans';
        font-size: 3vw;
        text-decoration: none;
        color: var(--bgcolor);
        margin-top: 0;
    }
    a.login-first:hover{
        color: blue;
    }
    .location{
        width: 98%;
        margin: 1vw auto;
    }
    .location iframe{
        width: 100%;
    }
    .sign-in-modal .sign-in{
        background-color: white;
        width: 85%;
        margin: 3% auto;
        padding: 1vw;
        position: relative;
        text-align: right;
        direction: rtl;
    }
    .sign-in-modal{
        display: none;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.719);
        width: 100%;
        height: 100%;
    }
    .sign-in-modal .sign-in span.close{
        font-size: 6vw;
        position: absolute;
        top: 0.5vw;
        left: 2vw;
        cursor: pointer;
    }
    .sign-in-modal .sign-in span.close:hover{
        color: red;
    }
    .sign-in-modal .sign-in form{
        display: inline-block;
        /* background-color: lightblue; */
        width: 90%;
        padding-right: 3vw;
    }
    .sign-in-modal .sign-in form label{
        font-family: 'iransans';
        font-size: 3vw;
    }
    .sign-in-modal .sign-in form input, .sign-in-modal .sign-in form select{
        font-family: 'iransans';
        font-size: 3vw;
        width: 90%;
        padding: 1vw 5%;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: rgb(213, 221, 247);
        border: lightblue 1px solid;
        border-radius: 3px;
    }
    .sign-in-modal .sign-in form input[type=text]{
        width: 80%;
    }
    .sign-in-modal .sign-in form input.submit{
        background-color: var(--bgcolor);
        cursor: pointer;
        color: white;
        margin-top: 3vw;
    }
    .sign-in-modal .sign-in form input.submit:hover{
        background-color: var(--bghover);
    }
    .sign-in-modal .sign-in h1.modal-title{
        font-family: 'iransans';
        font-size: 4vw;
        border-bottom: lightgray 1px solid;
        margin-bottom: 2vw;
    }
    .sign-in-modal .sign-in .imgpad{
        display: none;
    }
    .sign-in-modal .sign-in .imgpad img{
        width: 100%;
    }
    .topimg a.begin{
        font-family: 'iransans';
        font-size: 3vw;
        background-color: rgba(255, 123, 0, 0.836);
        padding: 0.5vw 6vw;
        border-radius: 3vw;
        color: white;
        font-weight: bold;
        text-decoration: none;
        position: absolute;
        top: 65%;
        /* z-index: 1000; */
        right: 10%;
        direction: rtl;
    }
    .topimg a.begin:hover{
        background-color: green;
    }
    .topimg a.begin i{
        padding-left: 1vw;
    }
}