@font-face {
    font-family:'bnazanin';
    src:url('b_nazanin.ttf');
}

@media only screen and (min-width: 600px) {
    .teacher{
        padding: 50px 200px;
        direction: rtl;
        padding-bottom: 250px;
    }
    .teacher i{
        float: right;
    }
    .teacher h2{
        float: right;
        font-family: 'bnazanin';
        font-size: 15px;
        margin-right: 13px;
        margin-top: 0;
        padding: 0;
        font-weight: normal;
    }
    .teacher:hover{
        background-color: rgb(238, 238, 238);
    }
    .teacher .text{
        float: right;
    }
    .teacher .text h1{
        color: purple;
        font-family: 'bnazanin';

    }
    .teacher .text p{
        padding-right: 10px;
        color: black;
        font-family: 'bnazanin';
        font-size: 17px;
        line-height: 25px;
        text-indent: 20px;
        width: 600px;
        text-align: justify;
    }
    .teacher img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        float: right;
        margin-right: 80px;
    }
    .teacher .text .contact{
        direction: rtl;
        font-family: 'bnazanin';
    }
}
@media only screen and (max-width: 600px) {
    .teacher{
        padding: 20px 20px;
        direction: rtl;
        padding-bottom: 250px;
        height: 150px;
    }
    .teacher i{
        float: right;
    }
    .teacher h2{
        float: right;
        font-family: 'bnazanin';
        font-size: 12px;
        margin-right: 13px;
        margin-top: 0;
        padding: 0;
        font-weight: normal;
    }
    .teacher:hover{
        background-color: rgb(238, 238, 238);
    }
    .teacher .text{
        float: right;
    }
    .teacher .text h1{
        color: purple;
        font-family: 'bnazanin';
        font-size: 17px;
    }
    .teacher .text p{
        padding-right: 10px;
        color: black;
        font-family: 'bnazanin';
        font-size: 15px;
        line-height: 25px;
        text-indent: 20px;
        width: 95%;
        text-align: justify;
    }
    .teacher img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        float: right;
        margin-right: 50%;
    }
    .teacher .text .contact{
        direction: rtl;
        font-family: 'bnazanin';
    }
}