extends ../education_layout

block info
    h1.contentheader بورد های آردوینو
    .infotext مدرس: فرحان دایمی
    .infotext تاریخ انتشار: ۱۷ اسفند ۱۳۹۸
    .infotext تعداد جلسات: ۱۴
    .infotext زمان: ۲۰۰ ساعت
    .infotext توضیحات:
        br
        p بورد های آردوینو با استفاده از میکروکنترلر ها یک مجموعه قابل برنامه ریزی توسط نرم افزار Arduino IDE هستند که یادگیری و استفاده بسیار ساده ای دارند. در این دوره به راه اندازی انواع این بورد ها خواهیم پرداخت و همچنین تمام سنسور های مورد نیاز برای انجام یک پروژه کاربردی را توسط این بورد ها راه اندازی خواهیم کرد.

block photo
    img(src="/images/tutorials/arduino.jpg")

block video
    video(src="/Pixy/01 Pixy CMU-CAM5.mp4" controls)

block links
    a(href="#" download) جلسه اول
    a(href="#" download) جلسه دوم
    a(href="#" download) جلسه سوم
    a(href="#" download) جلسه چهارم
    a(href="#" download) جلسه پنجم
    