extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/education.css')
    script(src="/javascripts/education.js")
    .mainbody
        .sidebar
            h1.sideheader
                i.fa.fa-tv.icon-bold
                | آموزش مجازی
            - for(var i = 0; i < educations.length ; i++){
                a.sidelink(id="link2" href=`/education?name=${educations[i].name}`) #{educations[i].title}
            - }
            - if(user && user.role != 'student'){
                a.sideaddlink.centeralign(id="link2" href=`/education/add`) افزودن آموزش +
            - }
        .contentbar
            .add
                block add
            .information
                block info
            .photo
                block photo
            .video
                block video
            .links
                block links
            .educations
                block educations