extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/education.css')
    script(src="/javascripts/education.js")
    .mainbody
        .contentbar
            .add
                block add
            .information
                block info
            .photo
                block photo
            .video
                block video
            .links
                block links
        .sidebar
            h1.sideheader آموزش های مجازی
            - for(var i = 0; i < names.length ; i++){
                a.sidelink(id="link2" href=`/education/${i}`) #{names[i]}
            - }
            - if(user && user.role != 'student'){
                a.sideaddlink.centeralign(id="link2" href=`/education/add`) افزودن آموزش +
            - }
            
            
        