extends ../layout
block styles
    link(rel='stylesheet', href='/stylesheets/class.css')
block content
    .class-container
        .paragraph
            i.fa.fa-graduation-cap.icon
            h1.title آموزش الکترونیک مقدماتی و پیشرفته
            h1.under-title افزایش مهارت یادگیری و خلاقیت
            p.text
                | در این کلاس دانش آموزان ابتدا با مفاهیم پایه الکترونیک و مدار آشنا می شوند و در طراحی و ساخت 
                | مدارات الکترونیکی مهارت بسزایی کسب خواهند کرد. در این کلاس کار با نرم افزار های طراحی مدار مانند 
                | Altium Designer و Proteus آموزش داده خواهد شد.
            .break-dot
            //- img(src="/images/gallery/img-58.jpg", alt="img")
            //- h2 مدرس:‌ سودابه ماحسنی. کارشناس ارشد برق
            //- h2 هزینه ثبت نام: ۲۰۰.۰۰۰ تومان
        .image-container
            .imgpad
                img(src="/images/gallery/img-19.png")
            .imgpad
                img(src="/images/gallery/img-21.png")
            .imgpad
                img(src="/images/gallery/img-22.png")
            .imgpad
                img(src="/images/gallery/img-12.png")
        .paragraph
            .break-dot
        .paragraph-right
            .paragraph-text
                h1.title شرکت در مسابقات
                h1.under-title مسابقات کشوری و جهانی
                p.text
                    | مسابقات رباتیک برای نخستین بار در سال ۱۹۹۳ در کشور ژاپن با نام J-league توسط گروهی از محققان (Minoru Asada, Yasuo Kuniyoshi, and Hiroaki Kitano) آغاز گردید.
                    | هدف از این رقابت ساخت ربات هایی بود که بتوانند همانند انسان فوتبال بازی کنند.
                    | از سال ۱۹۹۶ این چالش با عنوان Robot World Cup یا 
                    a(href="http:/robocup.org") ربوکاپ 
                    | هر سال به میزبانی یکی از کشور های جهان برگزار می شود.
                    | با گسترش علم رباتیک و پیشرفت تکنولوژی مسابقات رباتیک تقریبا در تمام کشور ها برگزار می شود و دانش آموزان و دانشجویان می توانند با شرکت در این مسابقات مهارت های بسیاری کسب کنند.
            .imgpad
                img(src="/images/img-06.jpg")
    img.back(src="/images/img-07.jpg")
    .on-image-container
        .paragraph
            h1.title فعالیت های آموزشی آکادمی رباتیک ایران
            h1.item برنامه ریزی و هدایت دانش آموزان در زمینه پژوهشی
            h1.item برگزاری کارسوق های پژوهشی در مدارس تیزهوشان
            h1.item برگزاری مسابقات پژوهشی رباتیک و برنامه نویسی
            h1.item تشکیل و اعزام تیم های رباتیک به مسابقات جهانی
    
    include sign-in
    script(src="/javascripts/lesson.js")



