extends ../layout
block styles
    link(rel="stylesheet", href="/stylesheets/message.css")
block content
    .massage
        h1.title.fail  
            i.fa.fa-times-circle.icon   
            | شما قبلا در این کلاس ثبت نام کرده اید.
        .item نام و نام خانوادگی: #{cls.fullname}
        .item عنوان کلاس: #{cls.className}
        .item ترم: #{cls.term}
        .item هزینه ثبت نام: #{cls.price}
        //- p.text از اعتماد شما سپاس گزاریم. درخواست ثبت نام شما ارسال شده و پس از تایید فرایند, صورت حساب هزینه کلاس برای شما صادر خواهد شد و می توانید نسبت به پرداخت آن اقدام نمایید.
        a.link(href="/dashboard") 
            i.fa.fa-chevron-left.icon
            | رفتن به پنل کاربری   
            